<!--
 Copyright (c) 2014, 2018, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1>Hello Rahman!</h1>
  <oj-combobox-one id="combobox" value="{{val}}"
    style="max-width:20em">
    <oj-option value="bar">Bar</oj-option>
    <oj-option value="pie">Pie</oj-option>
  </oj-combobox-one>
  <oj-chart id="barChart"
	type="[[val]]" 
	orientation="[[orientationValue]]"
	stack="[[stackValue]]"
	series="[[barSeriesValue]]"
	groups="[[barGroupsValue]]" 
	animation-on-display="auto"
	animation-on-data-change="auto"
	hover-behavior="dim"
	style="max-width:500px;width:100%;height:350px;">
  </oj-chart>
</div>